.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 420px;
    height: 55px;
    font-size: 25px;
    line-height: 25px;
    font-family: inherit;
    background-color: #6C1827;
    color: #FFE3D0;
    border: none;
    box-shadow: 4px 4px 0px #000;
    border-radius: 0;
    box-sizing: border-box;
    transition: transform 200ms ease-in-out;
}

.main-button:hover {
    transform:scale(1.04);
}