.wrapper-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-banner .main-banner {
    margin-bottom: 10px;
}

.wrapper-banner .main-caption {
    width: 186px;
    text-align: center;
}